body {
  font-family: "Press Start 2P", cursive;
  background-color: silver;
  color: rgb(33, 118, 33);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

button {
  background-color: grey;
  color: black;
  width: 10em;
  height: 3em;
  border: 3px solid black;
  box-shadow: 5px 10px 0 #000;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  background-color: rgb(81, 81, 81);
  color: rgb(232, 232, 232);
}

button:active {
  background-color: rgb(106, 106, 106);
  transform: translateY(4px);
}

#contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}

#textContent {
  background-color: black;
  border: 10px solid grey;
  width: 60%;
  height: 50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

#gameHeader {
  font-size: 2em;
  padding-left:20px;
  padding-right:20px;
}

.scoreHeader {
  font-size: 0.8em;
}

#gameResult {
  font-size: 0.5em;
}

#gameOptions {
  margin-top: 2em;
}

#playAgain {
  background-color: rgb(221, 221, 221);
  border-color: #323232;
  box-shadow: 5px 10px 0 #323232;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 44%;
  display: none;
  z-index: 3;
}

#playAgain:hover {
  background-color: rgb(81, 81, 81);
  color: rgb(232, 232, 232);
}

#playAgain:active {
  background-color: rgb(106, 106, 106);
  transform: translateY(4px);
}
