body {
  font-family: "Press Start 2P", cursive;
  background-color: silver;
  color: rgb(33, 118, 33);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}

#textContent {
  background-color: black;
  border: 10px solid grey;
}

#contents * {
  /* border: 1px solid red; */
}

#gameHeader {
  font-size: 2em;
  padding-left: 10px;
}

.scoreHeader {
  font-size: 1.6em;
}

#gameResult {
  font-size: 0.8em;
}

#gameOptions {
  margin-top: 2em;
}

.userChoice {
  background-color: grey;
  color: black;
  width: 10em;
  height: 3em;
  border: 3px solid black;
  box-shadow: 5px 10px 0 #000;
}

#playAgain {
  margin: 0;
  position: absolute;
  top: 50%;
  left:44%;
  display: none;
  background-color: grey;
  color: black;
  width: 10em;
  height: 3em;
  border: 3px solid black;
  box-shadow: 5px 10px 0 #000;
}
